{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} Welcome {% endblock title %} SuperTable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'pics/book.png'%}" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <script src="{% static 'js/general.js' %}"></script>
    {% block extend-head %}{% endblock extend-head %}
</head>

<body>
    <nav class="sidebar-nav--primary"> {% include "nav.html" %}
    </nav>
    <div class="container" id="main">
        {% block content %}
        <div>Default content</div>
        {% endblock content %}
    </div>

    <footer class="footer">
        {% include "footer.html" %}
    </footer>
</body>

</html>