<div class="container">
    <div class="row">
        <div class="col-md-3 support" id="pinkRed">
            pinkRed
        </div>
        <div class="col-md-3 support" id="dailyUpdate">
            <br>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <h3>Daily Update</h3>
                </div>

            </div>
        </div>
        <div class="col-md-3 support" id="darkBlue">
            darkBlue
        </div>
        <div class="col-md-3 support" id="donation">
            <br>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <i class="fa fa-usd fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                    <h3>Donation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> SuperClass is a free website. <br>We want every experience you have with us to be positive.<br> Your donation will encourage us.</p>
                </div>
            </div>
        </div>
    </div>
    <small>
      &copy; Copyright 
      <a>Alex &amp; Oliver</a>
    </small>
</div>