{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block content %}

<div class="row">
    <div class="col-md-9 search">
        <br>
        <form action="/SearchResult/" method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <select class="form-control" id="year" name="year" required>
                    {% for year in infoDict.yearList %}
                        <option value="{{year}}">{{year}}</option>
                    {%  endfor %}
                    </select>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <select class="form-control" id="semester" name="semester" required>
                    {% for semester in infoDict.semseterList %}
                        <option value="{{semester}}">{{semester}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 form-group">
                    <input type="text" class="form-control" name="courseList" placeholder="course;course;course;" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <select class="form-control" id="preference" name="preference" required>
                    {% for preference in infoDict.preferenceList %}
                        <option value="{{preference}}">{{preference}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <br>
            <div class="row ">
                <div class="col-md-3 col-md-offset-4">
                    <button type="submit" value="BUILD" class="btn btn-info btn-lg btn-block ">BUILD</button>

                </div>
            </div>
        </form>
    </div>

    <br>
    <div class="col-md-3 content suggestion ">
        HotCourse
    </div>
</div>

<br> {% endblock content %}