{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-2 content how">
            Use?
            <ul>
                <li>1.</li>
                <li>2.</li>
                <li>3.</li>
            </ul>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-5 content search">
            Search
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-2 content suggestion">
            HotCourse
        </div>

    </div>
</div>
{% endblock content %}