body {
    background-color: #213852;
    height: 100%;
}

#bandName {
    font-family: Bradley Hand ITC;
    color: white;
    font-size: 400%;
}

#main {
    margin-top: 5em;
    font-size: 2em;
}

footer {
    /* height: 100px; */
    text-align: center;
    color: #fff;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
}

.support {
    right: 0;
    bottom: 0;
    height: 15em;
    bottom: 1em;
}

.content {
    border-radius: 8px;
    color: white;
    border: 5px;
    border: 0.01em solid white;
}

#pinkRed {
    background-color: #EF476F;
}

#dailyUpdate {
    background-color: #E2A639;
}

#darkBlue {
    background-color: #1189B1;
}

#donation {
    background-color: #06C593;
}

#search {
    margin-left: auto;
    margin-right: auto;
    display: block;
}